

header  li{
  font-size: 24px;
  color:#fff;
  display: inline-block;
}
.header-img{
  background-image: url(img/bg.jpg);
  height: 500px;
}
.header-img h1{
  font-size: 30px;
  color: #fff;
}
.header-img  p{
  font-size: 14px;
  color:#fff
}
h1{
  font-size: 30px;
  color: #2c3e50;
}
p{
  font-size: 18px;
  color: #a1b1bc;
}
.services h3{
  font-size: 24px;
  color:#29d9c2;
}