*{
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Audiowide');
.wrapper{
  width: 1440px;
  margin: 0 auto;
}
header{
  background-image: url(img/bg.jpg) ; 
  background-repeat: no-repeat;
  height: 768px;
}
.top{
  background-image: url(img/top-line.png);
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 60px;  
}
.top  .space{
  position: relative;
  left: 250px;
  font: 18px/24px 'Audiowide' , sans-serif;
  text-decoration: none;
  color: #fff;
}
.top img{
  vertical-align: middle;
}
.top p{
    position: relative;
    top: -37px;
    right: -80px;
}
.top li  {
  padding-top: 23px;
  margin-right: 50px;
  font: 18px/24px Arial, sans-serif;
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
}
.top li:last-child{
  margin-right: 0px;
}
.nav{
  position: relative;
  right: 275px;
}
.selected{
  background-color: #000;
}
.top a{  font: 18px/24px Arial, sans-serif;
   text-decoration: none;
  color: #fff;
}
.wrapp-home{
  height: 710px;
}
.home{
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase; 
  height: 488px
}
.home h1{
  font: 60px/24px 'Audiowide' , sans-serif;
}
.home p{
  font:  43px/24px Arial , sans-serif;
}
.home a{
  text-decoration: none;
  color: #a3a3a3;
  width: 180px;
  height: 50px;
  background-color: #000;
  display: inline-block;
  font: 18px/24px Arial , sans-serif;
}
.text{
  position: relative;
  top: 195px;
  right: 290px;
  flex-shrink: 0;
  text-align: center;
  z-index: 101;
   height: 250px;
}
.text h1{
  padding-bottom: 40px;
}
.text p{
  padding-bottom: 40px;
}
.text .read{
  padding-top: 13px;
  font: 18px/24px Arial, sans-serif;  
  padding-bottom: 0px;
}
.rocket{
  padding-top: 45px;
  padding-left: 253px;
  z-index: 100;
}
.featured-projects{
  z-index: 95;
}
.featured-text {
  color: #a3a3a3;
  display: inline-block;
  width: 940px;
  margin-left: 250px;
  font: 23px/24px 'Audiowide' , sans-serif;
  text-align: center;
  padding:20px 0;
  background-image: url(img/featured.png)  ;
}
.featured-pic{
  display: flex;
  justify-content: center;
}
.our{
  height: 170px;
  background-color: #630031;
  text-align: center;
  color: #fff;
}
.our h2{
    font: 32px/24px  'Audiowide' , sans-serif;
    text-transform: uppercase;
    padding:35px 0;
}
.our p{
  font: 18px/24px  Arial, sans-serif;
}
.black{
  height: 430px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.black h2 {
  font: 32px/24px 'Audiowide' , sans-serif;
  padding:36px 0 50px 0 ;
}
.left{
  padding-left: 245px;
}
.right{
  display: flex;
  flex-direction: column;
  width: 440px;
  padding-right: 248px;
}
.right p{   
  float: left;
  padding-left: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #a3a3a3;
  font: 23px/24px  'Audiowide' , sans-serif;
}
.right  span{
    float: left;
   padding-left: 20px;
    font: 14px/14px  Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.right .btnr{ 
 margin-top: 17px;
 margin-left: 57px;
  background-color: #3c0f38;
  display: inline-block;
  width: 120px;
  height: 30px;

}
.right .btnr p{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  
  font: 14px/31px Arial, sans-serif;
}
.right img{
  float: left;
  clear:both;
}
.finding{
  padding-bottom: 40px;
  border-bottom: 1px solid #a3a3a3;
}
.new{
 padding-top: 40px;
}
.follow{
  height: 84px;
  background-color: #a3a3a3;
  display: flex;
  justify-content: center;
  font:  23px/24px  'Audiowide' , sans-serif;
  color: #fff;
}
.follow a{
   padding-right: 30px;
}
.follow-text{
   padding: 30px 0; 
   padding-right: 60px;
}
.social{
  padding: 25px 0 20px 0; 
  padding-right: 60px;
}
footer{
  height: 85px;
  text-align: center;
  padding-top: 35px;
  font: 12px/24px Arial, sans-serif;
}